*.class
*.jar
.project
.settings
.metadata
.recommenders
RemoteSystemsTempFiles
.classpath
.sonarlint
package-lock.json
nb-configuration.xml
**/dist/
**/build/
*.tgz
**/angular/lib/
**/target/
**/lib/
**/node_modules/
temp/
.editorconfig
.factorypath
.gitkeep
.tern-project
npm-debug.log

/mintty.exe.stackdump
sh.exe.stackdump
/bin/

*.orig